bidict
blinker
click
dnspython
email-validator
Flask
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
MarkupSafe
packaging
python-engineio
python-socketio
simple-websocket
SQLAlchemy
typing_extensions
Werkzeug
wsproto
WTForms
